<!DOCTYPE html>
<html>
<head>
  <title>MartialClub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- School-List Template -->
<!--  					  -->
<!--      				  -->
  <script type="text/template" id="school-list-template">
  	<a id="school-<%%= school.id %>" class="school-name"><%%= school.name %></a>
  </script>

<!-- School-Page Template -->
<!--  					  -->
<!--      				  -->
  <script type="text/template" id="school-page-template">
  	<div class="school-page" id="school-page-<%%= school.id %>">
  		<div class="school-id" id="<%%= school.id %>"></div>
		<div class="row school-header">
			<section class="col-md-6 col-md-offset-3">
				
				<h2><%%= school.name %></h2>

				<% if session['user_id'] %>

					<%% if (_.where(currentUser.schools, {id: school.id })[0]) { %>
						<h4 id="joined">Joined<h4>
						<a class="leave-button"><h5>Leave</h5></a>
					<%% } else { %>
						<a class="join-button"><h4>Join<h4></a>
					<%% }; %>



				<% end %>

				<label><h3>Styles</h3>
					<%% _.each(school.styles, function(style){ %>
						<h3 class="style-name"><%%= style.name %></h3>
					<%% }); %>
				</label>
			</section>
		</div>

		<div class="row school-header-map">
			<article class="col-md-4 col-md-offset-4 contact-info">
				<div class="row">
					<div id="map-canvas"></div>
				</div>
				
				Phone:<h4><%%= school.phone_number %></h4>
				Address:<h4 id="address"><%%= school.address %> <%%= school.city %>, <%%= school.state %></h4>
				Email:<h4><%%= school.email %></h4>
				Links:<h4><%%= school.site_link %></h4>
				<h4><%%= school.facebook_link %></h4>
				<h4><%%= school.twitter_link %></h4>
				
			</article>
		</div>

		<div class="row school-about">
			<section class="col-md-10 col-md-offset-1">
				<h1>About</h1>
				<p><%%= school.description %></p>
			</section>
		</div>

		<div class="row school-students">
			<section class="col-md-10 col-md-offset-1 students-row">
				<h1>Students</h1>

				<div class="row students-row">
					<%% _.each(school.users, function(user){ %>
						<div class="col-sm-1">	
							<img src="<%%= user.profile_url %>"><h3> <%%= user.first_name %></h3>
						</div>
					<%% }); %>
				</div>
			</section>
		</div>

		<div class="row school-followers">
			<section class="col-md-10 col-md-offset-1">
				<h1>Followers</h1>
				<%% _.each(school.followers, function(follower){ %>
					<h3><%%= User.find(follower.user_id).first_name %> <%%= User.find(follower.user_id).last_name %></h3>
				<%% }); %>
			</section>
		</div>
		
	</div>
  </script>

<!-- Style-List Template  -->
<!--  					  -->
<!--      				  -->
  <script type="text/template" id="style-list-template">
  	<a  data-toggle="modal" data-target="#style-info" id="style-<%%= style.id %>" class="style-name"><%%= style.name %></a> 
  </script>

<!-- Schools-Modal Template  -->
<!--  					     -->
<!--      				     -->
	<script id="schools-modal-template" type="text/template">
		<div class="modal-header">

			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

			<h4 class="modal-title" id="myModalLabel">Schools that teach this style</h4>

			 <div class="modal-body">
			 	<ul>
			 		<div id="map-canvas-single"></div>
					<%% _.each(schools, function(school){ %>
						<li>
							<h3><%%= school.name %></h3>
							Address: <h4 id="address"><%%= school.address %> <%%= school.city %>, <%%= school.state %></h4>

						</li>
					<%% }); %>
				</ul>
			</div>
		</div>
	</script>

<!-- User-List Template  -->
<!--  					  -->
<!--      				  -->
  <script type="text/template" id="user-list-template">
  	<a  id="user-<%%= user.id %>"><%%= user.name %></a> 
  </script>

<!-- User-Page Template -->
<!--  					  -->
<!--      				  -->
  <script type="text/template" id="user-page-template">
  	<div class="user-page" id="user-page-<%%= user.id %>">
		<div class="row user-header">
			<section class="col-md-3 col-md-offset-1">
				<img src="<%%= user.profile_url %>" class="profile-pic-main">
			</section>
		

			<section class="col-md-8">
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						<h2><%%= user.first_name %> <%%= user.last_name %><h2>
					</div>
					<div class="col-md-3 col-md-offset-3">
						<i class="fa fa-cog fa-spin fa-3x edit-button"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						<label><h3>Styles:</h3>
							<%% _.each(user.styles, function(style){ %>
								<h4><%%= style.name %></h4><br/>
							<%% }); %>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						<label><h3>Schools:</h3>
							<%% _.each(user.schools, function(school){ %>
								<h4><%%= school.name %></h4><br/>
							<%% }); %>
						</label>
					</div>
				</div>
			</section>
		</div>

		<div class="row user-info">
			<section class="col-md-3 col-md-offset-1">
				<h3><%% user.email %></h3>
			</section>
		</div>

			
	</div>
  </script>

<!-- Edit-User Template -->
<!--  					  -->
<!--      				  -->
  <script type="text/template" id="edit-user-template">
  	<div class="user-page" id="user-page-<%%= user.id %>">
		<div class="row user-header">
			<section class="col-md-3 col-md-offset-1">
				<img src="<%%= user.profile_url %>" class="profile-pic-main"><br/>
				<label><h4>Profile Picture URL</h4>
					<input type="text" name="profile_url" value="<%%= user.profile_url %>">
				</label>
			</section>
		

			<section class="col-md-8">
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						<label><h4>First Name:</h4> 
							<input type="text" name="first_name" value="<%%= user.first_name %>">
						</label><br/>
						<label><h4>Last Name:</h4> 
							<input type="text" name="last_name" value="<%%= user.last_name %>">
						</label><br/>
					</div>
					<div class="col-md-3 col-md-offset-3">
						<i class="fa fa-check-circle fa-3x save-button"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						<label><h3>Styles:</h3>
							<%% _.each(user.styles, function(style){ %>
								<h4><%%= style.name %></h4><br/>
							<%% }); %>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						<label><h3>Schools:</h3>
							<%% _.each(user.schools, function(school){ %>
								<h4><%%= school.name %></h4><br/>
							<%% }); %>
						</label>
					</div>
				</div>
			</section>
		</div>

		<div class="row user-info">
			<section class="col-md-3 col-md-offset-1">
				<h3><%% user.email %></h3>
			</section>
		</div>

			
	</div>
  </script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

</head>
<body>
	<div class="container">

<!--    Static Header     -->
<!--  					  -->
<!--      				  -->
		<div class="row header-1">
			<section class="col-md-3">
				<img id="logo-corner" src="./Logo.png">
			</section>

			<section class="col-md-6">
				<div class="row search">
					<input class="col-sm-6 col-sm-offset-4" type="text" name="search" placeholder="Search for schools, styles, etc" id="search-bar"> 
					<i class="fa fa-search fa-2x col-sm-1"></i>
				</div>	
			</section>

			<section class="col-md-3" id="user-corner">
				<% if session['user_id'] %>
					<div class="row profile-section">
						<div class="user_id" id="<%= session['user_id'] %>"></div>
						<img src="<%= User.find(session['user_id']).profile_url %>" class="col-sm-3 profile-pic-home"> 
						<h5 class="col-sm-1"id="login-name"><%= User.find(session['user_id']).first_name %></h5>
						<div class="col-sm-1 col-sm-offset-2" id="logout">
							<%= form_tag("/session", method: "delete") do %>
				  				<%= submit_tag("Logout") %>
							<% end %>
						</div>
					</div>
				<% else %>
					<%= form_tag("/login", method: "get") do %>
		  				<%= submit_tag("Login") %>
					<% end %>
				<% end %>
			</section>

		</div>
		
		<nav class="row header-nav">
			<h4 class="col-md-2 col-md-offset-3 news-button">Home</h4>
			<h4 class="col-md-2 schools-button">Schools</h4>
			<h4 class="col-md-2 styles-button">Styles</h4>
		</nav>

	

		

<!--    Create-School Modal     -->
<!--  					        -->
<!--      				        -->
		<% if session["user_id"] %>
			<div class="row bulid">
				<a class="col-md-3 build-school" data-toggle="modal" data-target="#info">
				  Build School
				</a>
			</div>
		<% end %>

		<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

						<h4 class="modal-title" id="myModalLabel">Fill In Your School's Info Here</h4>
						<div class="add-school-form">
							<div class="modal-body">

					 	 		<div id="map-canvas-single" ></div>
						 		
					 			<label>Name:<br/>
					 				<input type="text" name="school-name" placeholder="Name">
					 			</label><br/><br/>
								
								<label>Style:
									<select name="school-style" class="form-control">
										<% Style.all.each do |style| %>
					  						<option value="<%= style.name %>"><%= style.name %></option>
					  					<% end %>
					  					<option value="new_style">New Style</option>
									</select>
									If your style is not yet listed on site:<br/>
									<input type="text" name="new-style" placeholder="Style">
								</label><br/><br/>
								
								<label>Country of Origin:<br/>
					 				<input type="text" class="input" name="school-country" placeholder="Country">
					 			</label><br/><br/>
								
								<label>Description:<br/>
									<textarea name="school-description" cols="60" rows="10" placeholder="Brief description of your school."></textarea>
								</label><br/><br/>
								
								<label>Lineage:<br/>
									<textarea name="school-lineage" cols="60" rows="10" placeholder="example:  Luk Ah Choi => Wong Kei Ying => Wong Fei Hung"></textarea>
					 			</label><br/><br/>
								
								<hr>

								<h3>Location</h3>
								<label>Address:<br/>
					 				<input type="text" class="input" name="school-address" placeholder="Address">
					 			</label><br/><br/>

					 			<label>City:<br/>
					 				<input type="text" class="input" name="school-city" placeholder="City">
					 			</label><br/><br/>

					 			<label>State:<br/>
					 				<input type="text" class="input" name="school-state" placeholder="State">
					 			</label><br/><br/>

					 			<label>Zipcode:<br/>
					 				<input type="text" class="input" name="school-zipcode" placeholder="Zipcode">
					 			</label><br/><br/>

					 			<hr>

					 			<h3>Contact Info</h3>
					 			<label>Phone Number:<br/>
					 				<input type="text" class="input" name="school-number" placeholder="Phone Number">
					 			</label><br/><br/>

					 			<label>Email:<br/>
					 				<input type="text" class="input" name="school-email" placeholder="Email">
					 			</label><br/><br/>

					 			<hr>

					 			<h3>Connect</h3>
					 			<label>Website URL:<br/>
					 				<input type="text" class="input" name="school-site-link" placeholder="Site URL">
					 			</label><br/><br/>

					 			<label>Facebook:<br/>
					 				<input type="text" class="input" name="school-facebook-link" placeholder="Facebook URL">
					 			</label><br/><br/>

					 			<label>Twitter:<br/>
					 				<input type="text" class="input" name="school-twitter" placeholder="Twitter Name">
					 			</label><br/><br/>
						 	</div>
						
							<div class="modal-footer">
					        	<button id="add-school" data-dismiss="modal">Add School</button>
					      	</div>
				      	</div>
			      	</div>
				</div>
			</div>
		</div>

<!--    Schools-With-Style Modal Shell   -->
<!--  					  								       -->
<!--      		     								       -->
		<div class="modal fade" id="style-info" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
						
				</div>
			</div>
		</div>

<!--    Transform Area     -->
<!--  					   -->
<!--      				   -->
		<div class="transform">
			<%= yield %>
		</div>

	</div>

</body>
</html>
